body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 70px;
}

#donation-cover {
    background-image: url("images/donation7.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
}

.donation-cover-text {
    color: white;
    text-align: center;
    padding: 5% 20%;
}

.donate-now {
    background-color: tomato;
    text-decoration: none;
    border-radius: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 30px;
    color: white;
}

h2 {
    font-size: 50px;
    font-weight: 700'

}

.donation-now-part {
    text-align: center;
    margin: 100px 200px;
}

.box-taka {
    display: flex;
}

#most-donation {
    border: 1px solid tomato;
    background-color: rgb(255, 196, 172);

}

.box-taka div {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 30px 50px;
    margin: 50px 0px 50px 50px;
    background-color: rgb(206, 199, 199);
}

#taka-color {
    color: gray;
}

.donation-plan-part {
    text-align: center;
}

.donate-plan {
    display: flex;
}

.donate-plan div {
    display: center;
    text-align: left;
    border: 1px solid white;
    margin: 30px 30px;
    padding: 50px 30px;
    width: 25%;
}

#food-bg {
    background-color: rgb(149, 149, 216);
}

#shelter-bg {
    background-color: rgb(240, 183, 172);
}

#education-bg {
    background-color: rgb(216, 171, 179);
}